/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* Colors */
    --color-white: #ffffff;
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: #2C6E49;
    --color-secondary: #4C956C;
    --color-tertiary: #D68C45;
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 60%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    /* Border  */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

/* CSS for Room page - different grid column */


/* =================== Room Container ==================== */

.room-container{
    width: 90%;
    margin: 1rem auto;
}

/* adjust the grid on your preference */
main .room-container{
    display: grid;
    grid-template-columns: 35vw 54vw;
    position: relative;
}

/* =================== Room Top ==================== */
.room-top{
    width: 90%;
    margin: 0 auto;
    border-radius: var(--card-border-radius);
    font-size: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
}

.room-top a{
    color: white;
}

.room-top a:hover{
    text-decoration: underline;
}

/* =================== Room Left ==================== */

main .room-container .room-left .roomInfo{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

main .room-container .room-left .room-header{
    background-color: var(--color-primary);
    height: 150px;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

main .room-container .room-left .room-header .coverpic img{
    width: 35vw;
    height: 150px; 
    object-fit: cover; 
    object-position: 0;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

main .room-container .room-left .room-header .room-headerinfo{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.2);
    padding: var(--card-padding);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.room-left .room-info{
    height: max-content;
    text-align: justify;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    padding: var(--card-padding);
    overflow-y: auto;
}

.room-info::-webkit-scrollbar {
    width: 8px;
}
.room-info::-webkit-scrollbar-thumb {
    background-color: #888;
}
.room-info::-webkit-scrollbar-track {
    background-color: transparent;
}

.room-left .room-topic{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: var(--card-padding);
} 

.room-left .room-members{
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

.members_header{
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.room-left .members_header p{
    white-space: nowrap;
}

.room-left .members_name .nav-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    padding: 0.2rem 1rem 0.2rem 0.3rem;
    cursor: pointer;
}

.nav-profile span{
    display: block;
    font-size: 0.7rem;
    line-height: 1;
    color: var(--color-gray);
    font-weight: 500;
}

.room-left .members_name{
    max-height: 15vh;
    text-align: justify;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    padding: var(--card-padding);
    overflow-y: auto;
}

.members_name::-webkit-scrollbar {
    width: 8px;
}
.members_name::-webkit-scrollbar-thumb {
    background-color: #888;
}
.members_name::-webkit-scrollbar-track {
    background-color: transparent;
}

.members_namebox{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
    margin-bottom: 1rem;
}


/* =================== Room Main ==================== */

main .room-container .room-main{
    height: max-content;
}

.room-main{
    padding: var(--card-padding);
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    margin-left: 1rem;
    position: relative;
}

/* .room-main .room-top a{
    color: white;
}

.room-main .room-top a:hover{
    text-decoration: underline;
}

.room-main .room{
    display: block;
}

.room-main .room-top{
    font-size: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.room-main .room-header{
    background-color: var(--color-primary);
    height: 150px;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.room-main .room-header .coverpic img{
    width: 52vw; 
    height: 150px; 
    object-fit: cover; 
    object-position: 0;

}

.room-main .room-header .room-headerinfo{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.2);
    padding: var(--card-padding);
}

.room-main .room-header .room-headerinfo{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}


.room-main .room-info{
    text-align: justify;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.room-creator{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
 
.room-description{
    margin-bottom: 1rem;
} */

.room-topic{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: var(--card-padding);
} 

.room-messages{
    max-height: 60vh;
    overflow-y: auto;
    padding: var(--card-padding);
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius);
    background-color: var(--color-light);
}

.room-messages::-webkit-scrollbar {
    width: 8px;
}
.room-messages::-webkit-scrollbar-thumb {
    background-color: #888;
}
.room-messages::-webkit-scrollbar-track {
    background-color: transparent;
}

/* message */
.room-messages .message{
    padding: var(--card-padding);
    margin-right: 4rem;
}

.room-messages .messageheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}


.room-messages .messageheader .delete-button{
    cursor: pointer;
}

.room-messages .messageheader .profile-username{
    margin-right: auto;
}

.room-messages .messagebox{
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    padding: var(--card-padding);
    margin-bottom: 0.5rem;
}

/* user's message */
.room-messages .usermessage{
    padding: var(--card-padding);
    margin-left: 4rem;
}

.room-messages .usermessageheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}


.room-messages .usermessageheader .delete-button{
    cursor: pointer;
}

.room-messages .usermessageheader .profile-username{
    margin-right: auto;
}

.room-messages .usermessagebox{
    border-radius: var(--card-border-radius);
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--card-padding);
    margin-bottom: 0.5rem;
}


.room-main .room__message{
    background-color: var(--color-secondary);
    border-radius: var(--card-padding);
}

.room__message input[type="text"]{
    background-color: transparent;
    padding: var(--card-padding);
    font-size: 0.9rem;
    color: var(--color-light);
}

.room__message  input[type="text"]::placeholder{
    color: var(--color-light);
}

/* =================== Room right ==================== */
/* 
.room-right{
    max-height: 77.5vh;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
}

.room-right .members_header{
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.room-right .members_header p{
    white-space: nowrap;
}

.room-right .members_name .nav-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    padding: 0.2rem 1rem 0.2rem 0.3rem;
    cursor: pointer;
}

.nav-profile span{
    display: block;
    font-size: 0.7rem;
    line-height: 1;
    color: var(--color-gray);
    font-weight: 500;
}

.members_name{
    height: 71.5vh;
    overflow-y: auto;
    padding: var(--card-padding);
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.members_namebox{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
    margin-bottom: 1rem;
} */

/* ============================
Media Queries for small laptops and big tablets
===============================
 */

 @media screen and (max-width:1200px) {
    .room-top{
        width: 96%
    }

    .room-container{
        width: 96%;
    }

    main .room-container{
        grid-template-columns: 36vw 58.5vw;
    }

    main .room-container .room-left .room-header .coverpic img{
        width: 36vw; 
    }

    .room-left .room-info{
        height: 30vh;
        overflow-y: auto;
    }

 }


/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* =============== MEDIA QUERIES ================ */

@media screen and (max-width: 992px) {
    .room-top{
        width: 90%;
    }

    .room-left .room-info{
        height: 25vh;
        overflow-y: auto;
    }

    .room-left .members_name{
        max-height: 35vh;
    }

    /* ============== Room Main ================== */
    .room-container{
        width: 90%;
    }

    .room-main{
        margin-top: 1rem;
        margin-left: 0;
        width: 100%;
    }
    
    main .room-container .room-left .room-header .coverpic img{
        width: 88.5vw; 
    }            

    /* ============== Room ================== */
    .room-right{
        display: none;
    }

    main .room-container{
        grid-template-columns: 88.5vw;
    }
}