/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* Colors */
    --color-white: #ffffff;
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: #2C6E49;
    --color-secondary: #4C956C;
    --color-tertiary: #D68C45;
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 60%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    /* Border  */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

/* CSS for Profile page - different grid column */

/* =================== Room Container ==================== */

.profile-container{
    width: 70%;
    margin: 0 auto;
}

/* adjust the grid on your preference */
main .profile-container{
    display: grid;
    grid-template-columns: auto 18vw ;
    column-gap: 2rem;
    position: relative;
}

/* =================== Room Main ==================== */