/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* Colors */
    --color-white: #ffffff;
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: #2C6E49;
    --color-secondary: #4C956C;
    --color-tertiary: #D68C45;
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 60%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    /* Border  */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color:#2C6E49;
}

.setup-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.outsideBorder{
    padding-right: 30px;
    background-color: #4C956C;
    border-radius: 20px;
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.branding-container{
    width: 18.75rem;
    padding: 0 4rem;
    text-align: center;
}

.quote{
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: white;
}


hr{
    margin: 20px 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px ;
}

.setup-header{
    color: var(--color-white);
    text-align: left;
}

.setup-header h1{
    font-size: 3rem;
}

.form{
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    background-color: #FEFEE3;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px 20px;
    text-align: left;
}

input{
    font-size: 16px;
    display: block;
    width: 350px;
    outline: none;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.2);
}

input:focus{
    border: 1px solid black;
}


main .setup-container .setup-content .action{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn a{
    text-decoration: none;
    color: var(--color-white);
}

.btn .cancel{
    color: var(--color-primary);
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background-color: var(--color-primary);
    color: white;
}
